.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox p {
  margin: 0;
}

span.tagname {
  color: #AA00BB;
}

span.attribute {
  color: #228811;
}

span.punctuation {
  color: black;
}

span.attname {
  color: #0000FF;
}

span.comment {
  color: #AA7700;
}

span.cdata {
  color: #4488AA;
}

span.entity {
  color: #AA2222;
}

span.error {
  color: #FF0000;
}

span.text {
  color: black;
}
