body {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.editbox {
  font-family: monospace;
  font-size: 10pt;
}

.editbox p {
  margin: 0;
}

span.keyword {
  color: #880099;
}

span.atom {
  color: #00BBBB;
}

span.variable {
  color: #0044BB;
}

span.variabledef {
  color: #008800;
  font-weight: bold;
  line-height: 90%;
}

span.localvariable {
  color: #009900;
}

span.property {
  color: #888888;
}

span.comment {
  color: #CC0000;
}

span.string {
  color: #BB7700;
}
