
.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: transparent;
  line-height: 16px;
}

/* new style */
span.xqueryGsdkMethod {
  color: rgb(102,204,255);
  font-weight: bold;
}

/* inherited from 'js-keyword' */
span.xqueryKeyword {
  color: rgb(0,153,102);
  font-weight: bold;
}

/* inherited from 'js-keyword' */
span.javaKeyword {
  color: rgb(0,102,153);
  font-weight: bold;
}

/* inherited from 'js-comment' */
span.xqueryComment {
  color: rgb(204,0,0);
}

/* inherited from 'js-keyword' */
span.javaModifier {
  color: rgb(0,102,153);
  font-weight: bold;
}

/* new style */
span.xqueryType {
  color: rgb(0,135,255);
  font-weight: bold;
}

/* inherited from 'js-atom' */
span.xqueryAtom {
  color: rgb(0,102,153);
  font-weight: bold;  
}

/* inherited from 'js-string' */
span.xqueryString {
  color: rgb(42,0,255);
}

/* inherited from 'js-string' */
span.xqueryRegexp {
  color: rgb(128,0,64);
}

/* inherited from 'js-atom' */
span.xqueryNumber {
  color: rgb(255,0,0); 
}

/* inherited from 'js-variable' */
span.xqueryVariable {
    color: black;
}

/* inherited from 'js-variabledef' */
span.grooveVariabledef {
    color: black;
}

/* inherited from 'js-localvariable' */
span.xqueryLocalvariable {
    color: black;
}

/* inherited from 'js-property' */
span.xqueryProperty
{
  color: black;
}

/* inherited from 'js-opertator' */
span.xqueryOperator {
  color: rgb(92,92,92);
}

/* inherited from 'js-punctuation' */
span.xqueryPunctuation {
    color: black;
}

/* new style */
span.xquery-doc-directive {
    color: black; 
}

span#parenCorrect {
	font-weight: bold;
	color: green;
}

span#parenIncorrect {
	font-weight: bold;
	color: red;
}